<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/dccb63b5-f6c1-4384-869c-709056b8ba32/resourceGroups/PlowNoMoreRG/providers/Microsoft.Web/sites/PlowNoMore</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://plownomore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>plownomore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PlowNoMore</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PlowNoMore</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>